.home-header {
    position: relative;
    padding: 60px 40px 60px;

    .home-header-content {
        max-width: 1200px;
        margin: 0 auto;

        p.subtitle {
            color: $action;
            font-size: 18px;
            margin: 0;
        }

        h1 {
            color: $dark;
            margin: 0;
            font-size: 72px;
            line-height: 1.5;
            
            span:not(.text-emph) {
                display: block;
            }
            span.text-emph {
                color: $secondary;
            }
        }
    }

    @include breakpoint(sm) {
        padding: 40px 20px;
        .home-header-content {

            h1 {
                font-size: 36px;

                span:not(.text-emph) {
                    display: inline;
                }
            }
        }
    }
}