footer {
    background-color: $dark;
    text-align: center;
    padding: 20px 40px;

    p#copyright {
        color: white;
        margin: 0;
        font-size: 12px;
        opacity: .75;
        text-transform: uppercase;
        letter-spacing: .5px;
        font-weight: 600;
    }
}