footer {
    background-color: $dark;
    text-align: center;
    padding: 20px 40px 15px;
    
    .social-links {
        gap: 12px;
    }

    p#copyright {
        color: white;
        margin: 15px 0 0;
        font-size: 12px;
        opacity: .75;
        text-transform: uppercase;
        letter-spacing: .5px;
        font-weight: 600;
    }

    @include breakpoint(sm) {
        padding: 20px 15px 15px;

        .social-links {
            gap: 6px;
        }
    }
}