.categories-container {
    margin: 20px 0 0;

    span.category-tag {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.5px;
        padding: 0 2px;
        border-radius: 0;
        border-bottom: 2px solid;
        margin-right: 8px;
        display: inline-block;
    }
}