@mixin subtitleGradient($color: $secondary) {
    background-image: linear-gradient(to right, darken($color, 5%), darken($color, 2%));
}

.projects-grid {
    padding: 0 40px;

    .projects-grid-inner {
        display: grid;
        grid-gap: 40px;
        padding: 20px 0 0;

        .project-container > div {
            height: 100%;
            background-color: $secondary;
            border-radius: 20px;
            padding: 0 30px 30px;
            box-shadow: 4px 4px 6px rgba(black, .1);

            p.subtitle {
                @include subtitleGradient;
                margin: 0 -30px 10px;
                color: $dark;
                padding: 8px 30px;
                border-top-left-radius: inherit;
                border-top-right-radius: inherit;
            }

            h3 {
                margin: 0;
                color: white;
                font-size: 28px;
            }

            p:not(.subtitle) {
                margin-top: 10px;
            }

            .categories-container {
                margin: 20px 0 30px;
                h4.subtitle {
                    color: $dark;
                    margin: 0;
                }
            }

            .buttons-container {
                display: flex;
                gap: 15px;
            }

            .project-screenshot {
                margin-top: 40px;
            }
        }

        .project-container#notes-app > div {
            background-color: $dark;

            p.subtitle {
                @include subtitleGradient($dark);
                color: white;
            }

            p:not(.subtitle),
            .categories-container h4.subtitle,
            .categories-container span.category-tag {
                color: white;
            }

        }

        .project-container#portfolio > div {
            background-color: $primary;

            p.subtitle {
                @include subtitleGradient($primary);
                color: white;
            }

            p:not(.subtitle),
            .categories-container h4.subtitle,
            .categories-container span.category-tag {
                color: white;
            }
        }

        .project-container#meal-planning-app {
            grid-row: 1 / span 2;
            grid-column: 2;

            > div {
                padding-bottom: 0;
                height: auto;
            }
        }
    }

    @include breakpoint(md) {
        .projects-grid-inner {
            .project-container .buttons-container {
                flex-direction: column;
                gap: 10px;
                align-items: flex-start;
            }
            .project-container#meal-planning-app {
                grid-row: 1;
                grid-column: 1;

                > div {
                    padding-bottom: 0;
                }
            }
        }
    }

    @include breakpoint(sm) {
        padding: 0 20px;

        .projects-grid-inner {
            display: flex;
            gap: 20px;
            flex-direction: column;

            .project-container .buttons-container {
                flex-direction: column;
                gap: 10px;
                align-items: flex-start;
            }
            .project-container > div {
                padding: 0 20px 30px;

                p.subtitle {
                    margin: 0 -20px 10px;
                    padding: 8px 20px;
                }
            }
        }
    }
}