// Variables

// Colors
$dark: #3b4241;
$primary: #73806e;
$secondary: #acbba6;
$action: #d68162; 
$neutral: #f3f3f3;

$black: #333;

// margins / padding
$gut-lg: 60px;
$gut-md: 40px;
$gut-sm: 20px;
$gut-xs: 10px;